.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto 2px;
  cursor: pointer;
  border: 1px solid #AAA2A2
}
.todo-list-item:hover{
  background-color: rgb(191, 237, 185);
}
.todo-list-item-content {
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
}

.todo-list-item-content input {
  margin-right: 5px;
}

.todo-list-item-content:hover {
  background-color: rgb(191, 237, 185);
}

.container-todo-list-button{
  margin-right: 10px;
  display: flex;
  justify-content: space-between; 
}
.todo-list-item-delete, .todo-list-item-edit{
  background: rgb(248, 81, 35);
  color:white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 6px;
  margin-right: 6px;
  font-weight: bold;
}
.todo-list-item-edit{
  background: rgb(240, 176, 37);

}

.todo-list-item-delete:hover {
  background: rgb(172, 172, 172);
}

.todo-list-item-checked {
  text-decoration: line-through;
}
